In [82]:
# 1 -Write a program that counts up the number of vowels [a, e, i, o, u] contained in the string.

name = "mmmaeiou"
name.count('a' ) + name.count('e' ) + name.count('i' ) + name.count('o' )+name.count('u' )

5

In [106]:
# 2- Fill an array of 5 elements from the user, Sort it in descending 
#and ascending orders then display the output.

arr = []
for i in range(5):
  num = int(input("Enter the value num " + str(i+1)  + " : " ) )
  arr.append(num)
Array_asc = sorted(arr)
Array_desc = sorted(arr , reverse=True)
print(Array_asc)
print(Array_desc)

Enter the value num 1 : 1
Enter the value num 2 : 55
Enter the value num 3 : 3
Enter the value num 4 : 2
Enter the value num 5 : 0
[0, 1, 2, 3, 55]
[55, 3, 2, 1, 0]

In [80]:
# 3- Write a program that prints the number of times the string 'iti' 
#occurs in anystring.

x = input('enter the name ')
x.count('iti')

enter the name iti itit iti iti

4

In [126]:
# 4- Write a program that remove all vowels from the input word and generate a brief version of it.


vowles = "aeiouAEIOU"
arr = [] 
for i in range(3):
  value = input("enter the value number " + str(i+1) + " : ")
  word_without_vowels = ""
  for i in value :
    if i not in vowles :
      word_without_vowels += char

  arr.append(value)
arr

enter the value number 1 : asd
enter the value number 2 : asd
enter the value number 3 : sd

['asd', 'asd', 'sd']

In [127]:
 # 5- Write a program that prints the locations of "i" character in any string you added.

string = "mahmouid"
string.find("i")

6

In [133]:
# 6 - Write a program that generate a multiplication table from 1 to the number passed

x = int(input("enter the number plz  ") ) 

for i in range(1,x+1):
  for j in range(13):
    result = i * j 
    print (" " , i , " * " , j ," = " , result)
  print("------------------------------------------------")

enter the number plz  3
  1  *  0  =  0
  1  *  1  =  1
  1  *  2  =  2
  1  *  3  =  3
  1  *  4  =  4
  1  *  5  =  5
  1  *  6  =  6
  1  *  7  =  7
  1  *  8  =  8
  1  *  9  =  9
  1  *  10  =  10
  1  *  11  =  11
  1  *  12  =  12
------------------------------------------------
  2  *  0  =  0
  2  *  1  =  2
  2  *  2  =  4
  2  *  3  =  6
  2  *  4  =  8
  2  *  5  =  10
  2  *  6  =  12
  2  *  7  =  14
  2  *  8  =  16
  2  *  9  =  18
  2  *  10  =  20
  2  *  11  =  22
  2  *  12  =  24
------------------------------------------------
  3  *  0  =  0
  3  *  1  =  3
  3  *  2  =  6
  3  *  3  =  9
  3  *  4  =  12
  3  *  5  =  15
  3  *  6  =  18
  3  *  7  =  21
  3  *  8  =  24
  3  *  9  =  27
  3  *  10  =  30
  3  *  11  =  33
  3  *  12  =  36
------------------------------------------------

In [78]:
# 7-  Write a program that build a Mario pyramid like below
for i in range (5):
  print ((4-i)*" " + (i)*"*")

   *
  **
 ***
****

In [86]:
# 7 -Write a program that build a Mario pyramid like below
for i in range (5):
  x = 5
  print ((x-i)*" "+i*"*")

    *
   **
  ***
 ****